<center>
<%= form_for @post, :html => {multipart: true} do |f| %> 
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center>
  <h1 class='new_post_title'> New Post </h1>
  <div class="field panel">
    <%= f.label 'Upload Photo (Required)', class:'title' %><br />
    <center><%= f.file_field :picture, class:'upload_photo' %></center>
  </div>
  <div class="field panel">
    <%= f.label 'Title (Optional)', class:'title' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field panel">
    <%= f.label 'Description (Optional)', class:'title' %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= link_to 'Back', posts_path, class:'button form' %>
    <%= f.submit 'Get Advice', class:'button form' %>
  </div>
  </center>
<% end %>
</center>
