<p id="notice"><%= notice %></p>

<p>
  <b>Outfit:</b>

   <% if @post.picture.present? %>
        <%= image_tag @post.picture, width: '80' %>
    <% else %>
    <p>N/A</p>
    <% end %>
</p>

<h3><%=@post.name%></h3>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>


<!-- Shows percentage of upvotes -->
<%if @post.total_votes > 0 %>
  <div class = "vote_percent">
    <% if @post.upvote_counter > @post.downvote_counter %>
      <div "vote_count">
      <h3 class = "wear?"> WEAR IT! </h3>
      <b class="percent_label">Wear Rating: </b>
      <p class="percent"><%= "#{@post.upvote_percent}%" %></p>
    <% else %>
      <h3 class = "wear?"> FAUX PAS! </h3>
      <b class="percent_label">Wear Rating: </b>
      <p class="percent"><%= "#{@post.downvote_percent}%" %></p>
    <% end %>

  </div>
<% end %>


<!-- Don't want users voting on their own posts -->
<% unless @post.name == current_user.name %>
  <%= render 'votes/formdownvote' %>
  <%= render 'votes/formupvote' %>
<% end %>




<% if current_user && current_user.name != @post.name %>
  <%= render 'reviews/formr' %>
<% end %>

<div class = "review_container">
  <% @reviews.each do |review| %>  
    <div class = "name">
      <%= image_tag review.picture, width: '40' %>
      <span><%= review.name %></span>
        
    </div>

    <div class = "review_body">
      <b>Advice:</b>
      <%= review.review %>
    </div>
  <% end %>
</div>

<% if @post.previous_post %>
  <%= link_to 'Previous post', @post.previous_post %>
<% end %>

<% if @post.next_post %>
  <%= link_to 'Next post', @post.next_post %>
<% end %>


