<p id="notice"><%= notice %></p>

<p>
  <b>Picture:</b>

   <% if @post.picture.present? %>
        <%= image_tag @post.picture, width: '80' %>
    <% else %>
    <p>N/A</p>
    <% end %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>



<%= render 'reviews/formr' %>

<div class = "review_container">
  <% @reviews.each do |review| %>  
    <div class = "reviews_all">
      <div class = "name"> 
        <%= review.name %>
      </div>
      <div class = "picture"> 
        <%= review.picture %>
      </div>
      <div class = "review"> 
        <%= review.review %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
