<p id="notice"><%= notice %></p>

<p>
  <b>Outfit:</b>

   <% if @post.picture.present? %>
        <%= image_tag @post.picture, width: '80' %>
    <% else %>
    <p>N/A</p>
    <% end %>
</p>

<h3><%=@post.name%></h3>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>


<% if current_user && current_user.name != @post.name %>
  <%= render 'reviews/formr' %>
<% end %>

<div class = "review_container">
  <% @reviews.each do |review| %>  
    <div class = "name">
      <%= image_tag review.picture, width: '40' %>
      <span><%= review.name %></span>
        
    </div>

    <div class = "review_body">
      <b>Advice:</b>
      <%= review.review %>
    </div>
  <% end %>
</div>


<% if @post.previous_post %>
  <%= link_to 'Previous post', @post.previous_post %>
<% end %>

<% if @post.next_post %>
  <%= link_to 'Next post', @post.next_post %>
<% end %>


