<p id="notice"><%= notice %></p>
<div class = "container">
  <center>
    <div class = "post_card">
      <h2 class = "title">
        <%= @post.title %>
      </h2>

      <h4 class = "description">
        <%= @post.description %>
      </h4>

      <% if @post.previous_post %>
        <div class = "previous">
          <%= link_to 'Previous post', @post.previous_post %>
        </div>
      <% end %>

      <p>
         <% if @post.picture.present? %>
              <%= image_tag @post.picture, width: '80' %>
          <% else %>
          <p>N/A</p>
          <% end %>
      </p>

      <% if @post.next_post %>
        <div class = "next">
          <%= link_to 'Next post', @post.next_post %>
        </div>
      <% end %>

      <p class = "username">Posted by <%=@post.name%></p>
    </div>
  </center>


  <center>
    <!-- Shows percentage of upvotes -->
    <%if @post.total_votes > 0 %>
      <div class = "vote_percent">
        <% if @post.upvote_counter > @post.downvote_counter %>
          <h3 class = "wear?"> WEAR IT! </h3>
          <b class="percent_label">Wear Rating: </b>
          <p class="percent"><%= "#{@post.upvote_percent}%" %></p>
        <% else %>
          <h3 class = "wear?"> FAUX PAS! </h3>
          <b class="percent_label">Wear Rating: </b>
          <p class="percent"><%= "#{@post.downvote_percent}%" %></p>
        <% end %>

      </div>
    <% end %>
  </center>


  <!-- Don't want users voting on their own posts -->
  <% if current_user %>
    <% unless @post.name == current_user.name %>
      <center>
        <div class = "vote_card">
          <%= render 'votes/formdownvote' %>
          <%= render 'votes/formupvote' %>
        </div>
      </center>
    <% end %>
  <% end %>

<div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h1>Feed Template</h1>
      </div>
    </div>
  </div>
  <!-- End Header and Nav -->
  <div class="row">
 <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 columns ">
      <div class="panel">
        <!-- Link to plus image tag for current_user -->
        <a href="#"><img src="http://placehold.it/300x240&text=[img]" /></a>
 <!--        Link to current_user name -->
        <h5><a href="#">Your Name</a></h5>
        
 
      </div>
    </div>
    
    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-6 columns">
 
        <!-- Feed Entry -->
      <div class = "comment-container">  
        <div class="row">
          <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
          <div class="large-10 columns">
            <h6>2 Comments</h6>
            <div class="row">
              <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]" /></div>
              <div class="large-10 columns"><p><strong>Some person said:</strong></p>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p>
              </div>
            </div>
            <div class="row">
              <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]" /></div>
              <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Feed Entry -->
 
      <hr />
    </div>
    </div>
 
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="large-3 columns hide-for-small">
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
      <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
    </aside>
 
  </div>
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>



  <% if current_user && current_user.name != @post.name %>
    <center>
      <div class = "submit_review">
        <%= render 'reviews/formr' %>
      </div>
    </center>
  <% end %>

  <center>
    <div class = "review_container">
      <% @reviews.each do |review| %>  
        <div class = "each_review">
          <div class = "name">
            <%= image_tag review.picture, width: '40' %>
            <span><%= review.name %></span>
              
          </div>

          <div class = "review_body">
            <b>Advice:</b>
            <%= review.review %>
          </div>
        </div>
      <% end %>
    </div>
  </center>
</div>



