<%= form_for @review, :url => review_path, :html => {:method => :post/:put } do |f| %>


  <div class="field">
    <%= f.label :name %><br />
  </div>
  <div class="field">
    <%= f.label :picture %><br />
  </div>
  <div class="field">
    <%= f.label :review %><br />
    <%= f.text_area :review %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
