<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @review.name %>
</p>

<div>
  <b>Picture:</b>
  <%= image_tag @review.picture, width: '80' %>
</div>

<p>
  <b>Review:</b>
  <%= @review.review %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
