<!DOCTYPE html>
<html>
<head>
  <title>Proudawear</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<%= link_to 'proudawear', posts_path %>
	<% if current_user %>
		<%= image_tag current_user.image, width: '30' %><span> <%="Logged in as #{current_user.name}" %>
		</span>
		<%= link_to 'Previous Posts', current_user, :class => 'view_logout' %> |
		<%= link_to 'Logout', signout_path, :class => 'view_logout' %> 
	<% else %>
		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

	<% end %>	


</header>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
